<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: "Source Sans Pro", sans-serif;
            color: #1e1e1e;
        }

        * {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body style="padding: 0; margin: 0">
    <div style="width:751px; margin: 0 auto">
        <table style="background: rgb(36, 101, 242); 
            padding: 23px 24px 25px 52px; width: 100%">
            <tr>
                <td><img
                        src="https://cdn.zeplin.io/5eac3c5b9d83a81a248aae7f/assets/FA76F618-8148-4EAA-B5E8-8206FE1CF39B.svg" />
                </td>
            </tr>
        </table>
        <div style="margin-top: 57px; padding:0 42.5px 70px 35.5px">
            <table>
                <tbody>
                    <tr>
                        <td style="width: 185.5px;"></td>
                        <td
                            style="font-family: 'Poppins', sans-serif; font-size: 18px; color: rgb(32, 40, 89); font-style:normal; font-weight: 600;">
                            PRE-QUALIFICATION APPROVAL
                        </td>
                        <td style="text-align: right; width: 199.5px">
                            <div>

                                <img src="https://cdn.zeplin.io/5eac3c5b9d83a81a248aae7f/assets/5220F9F0-1CA4-4B43-B67D-41BCA979BD3B.png"
                                    style="height:42px;width:42px;border-radius: 50%; margin-right:14px" />
                                <p style="font-size: 14px; letter-spacing: 0.26px;">Scotiabank</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 36px; width: 100%;">
                <tbody>
                    <tr>
                        <td style="padding-bottom: 15px; font-size: 14px">
                            Date: 01/01/20XX
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 15px; font-size: 14px">
                            Dear Home Buyers,
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="padding-bottom: 37px; font-size: 14px; width: 600px; padding-right: 50px;font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0.26px;">
                            Congratulations! Based on the information you provided, you have been pre-qualified for
                            a
                            mortgage
                            from
                            <span
                                style=" font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0.26px; border-bottom:1px dashed #1e1e1e; display: inline-block;width: 200px; text-align:center;">
                                <strong>
                                    July
                                    2nd, 2020
                                </strong>

                            </span>
                            <span>
                                subject to the conditions and terms
                                below:
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 16.5px ;font-size: 13px; line-height: 22px;color: #1f1f1f;">
                            Maximum Purchase Price: <span style="font-weight: 600;">$650,000</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 16.5px ;font-size: 13px; line-height: 22px;color: #1f1f1f;">
                            Maximum Mortgage Amount: <span style="font-weight: 600;">$550,000</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 16.5px ;font-size: 13px; line-height: 22px;color: #1f1f1f;">
                            Mortgage Rate: <span style="font-weight: 600;">2.55%</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 16.5px ;font-size: 13px; line-height: 22px;color: #1f1f1f;">
                            APR: <span style="font-weight: 600;">2.45%</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 16.5px ;font-size: 13px; line-height: 22px;color: #1f1f1f;">
                            Term: <span style="font-weight: 600;">5 Years fixed</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 16.5px ;font-size: 13px; line-height: 22px;color: #1f1f1f;">
                            Amortization: <span style="font-weight: 600;">25 years</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 16.5px ;font-size: 13px; line-height: 22px;color: #1f1f1f;">
                            Monthly Payment: <span style="font-weight: 600;">$2,450</span>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="padding-left: 16.5px ;font-size: 13px; line-height: 22px;color: #1f1f1f; padding-bottom: 37px">
                            Pre-Payment Privilege: <span style="font-weight: 600;">N/A</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px; line-height: normal;letter-spacing: 0.26px;">
                            Conditions:
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="font-size: 14px; line-height: normal;  letter-spacing: 0.26px; padding-bottom: 25px;">
                            Final approval for this mortgage is subject to verification of the information you provided
                            and
                            satisfaction of conditions not limited to the following:
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;">
                            1. Signed consent form for all borrower(s)
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;">
                            2. Acceptance of employment & income, down payment and property documents
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;">
                            3. An acceptable appraisal of the subject property may be required to support the sales
                            price
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;">
                            4. 2 pieces of government issued ID
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;">
                            5. Final underwriting approval
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px; padding-bottom: 25px;">
                            6. Other documentation as requested by the lender
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;padding-bottom: 49px">
                            <span>
                                This pre-qualification expires
                            </span>
                            <span
                                style=" font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: 0.26px; border-bottom:1px dashed #1e1e1e; display:inline-block;width: 70px; text-align:center;">
                                <strong>60</strong>
                            </span>
                            <span>
                                days from issuance and is subject to industry
                                guideline changes. This
                                letter does not constitute a contract nor a guarantee of specific rates or terms. Any
                                rights
                                related to this
                                letter are not assignable.
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;">
                            Regards,
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px; padding-bottom: 70px">
                            Frank Mortgage
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px; padding-bottom: 70px">

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table style="padding: 44px 0 39px 0;background: rgb(36, 101, 242); width: 100%">
            <tbody>
                <tr>
                    <td style="padding-bottom: 5px; color:white ;text-align:center ;font-size: 14px">©2020 Frank
                        Mortgage
                        All Rights are
                        Reserved.</td>
                </tr>
                <tr>
                    <td style="color: white; text-align:center ;font-size: 14px">copyrights@frankmortgage.com</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>